body {
  background-color: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  max-width: 375px;
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  font-size: 32px;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  padding: 16px 0;
  margin: 12px 0 12px 0;
}

main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100vh;
}
.cards {
  display: flex;
  flex-direction: column;
  padding: 3em 2em;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.75em;
  color: hsla(0, 0%, 100%, 0.75);
  border-radius: 10px;
}
.sedans {
  flex: 1;
  background-color: hsl(31, 77%, 52%);
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.suvs {
  flex: 1;
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  flex: 1;
  background-color: hsl(179, 100%, 13%);
  overflow: hidden;
  border-radius: 0 0 10px 10px;
}
.positions {
  padding: 3em;
}
p {
  padding-top: 16px;
  padding-bottom: 16px;
  margin: 12px 0 12px 0;
}
button {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 12px 25px;
  margin: 16px 0 16px 0;
  border-radius: 40px;
  background-color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
}
.btn-sedan {
  color: hsl(31, 77%, 52%);
}
.btn-suv {
  color: hsl(184, 100%, 22%);
}
.btn-luxury {
  color: hsl(179, 100%, 13%);
}

footer {
  display: flex;
  flex: 0em;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
  text-align: center;
  color: rgb(00, 00, 00);
  padding: 0;
  font-size: 11px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 768px) {
  body {
    max-width: 1440px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    max-width: 900px;
  }
  .sedans {
    border-radius: 10px 0 0 10px;
    width: 33%;
  }
  .suvs {
    width: 33%;
  }
  .luxury {
    border-radius: 0 10px 10px 0;
    width: 33%;
  }
  button:hover {
    color: hsl(0, 0%, 95%);
    background: none;
    cursor: pointer;
  }
}
